/* ADD YOUR CUSTOM CSS TO THIS FILE */
body {
    margin-left: 50pt;
    margin-top: 100pt;
  font-family: 'Roboto',
}


.roboto-regular h2{
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

}

h1 {font-family: "Open Sans"}

h2 {font-family: "Roboto"}


.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #293A80;
    --bs-btn-border-color: #293A80;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #EFC935;
    --bs-btn-hover-border-color: #6c757d;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #EFC935;
    --bs-btn-active-border-color: #293A80;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #293A80;
    --bs-btn-disabled-border-color: #293A80;;
     font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;

}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9EA5BF;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #EFC935;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #EFC935;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
    font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}



