@page
@model MadisonCountySystem.Pages.RecordCreate.CreateUserModel
@{
    ViewData["Title"] = "Create a User";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Create a User</h2>
    <form method="post">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Username:</label>
                    <input asp-for="Username" placeholder="Enter Username:" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label">First Name:</label>
                    <input asp-for="FirstName" placeholder="Enter First Name:" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="LastName" class="form-label">Last Name:</label>
                    <input asp-for="LastName" placeholder="Enter Last Name:" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email:</label>
                    <input asp-for="Email" placeholder="Enter Email:" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Phone" class="form-label">Phone Number:</label>
                    <input asp-for="Phone" placeholder="Enter Phone Number:" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button style="width: 30%" asp-page="CreateUser" asp-page-handler="PopulateHandler" class="btn btn-outline-primary btn-lg" formnovalidate>Populate</button>
                    <button style="width: 33%" asp-page="CreateUser" asp-page-handler="AddDB" class="btn btn-outline-success btn-lg">Create</button>
                    <button style="width: 30%" asp-page="CreateUser" asp-page-handler="Clear" class="btn btn-outline-danger btn-lg" formnovalidate>Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>
