@page
@model MadisonCountySystem.Pages.RecordCreate.CreateKnowledgeModel
@{
    ViewData["Title"] = "Create a Knowledge Item";
}
<div class="container mt-5">
    @{
        if (Model.CreateorUpdate == "Update")
        {
            <h2 class="text-center mb-4">Update @Model.KnowledgeTitle</h2>
        }
        else
        {
            <h2 class="text-center mb-4">Create a Knowledge Item</h2>
        }
    }
    <form method="post">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="KnowledgeTitle" class="form-label">Knowledge Item Title:</label>
                    <input asp-for="KnowledgeTitle" placeholder="Enter Knowledge Item Title:" class="form-control" />
                    <span asp-validation-for="KnowledgeTitle" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KnowledgeSubject" class="form-label">Knowledge Subject:</label>
                    <input asp-for="KnowledgeSubject" placeholder="Enter Knowledge Subject:" class="form-control" />
                    <span asp-validation-for="KnowledgeSubject" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KnowledgeCategory" class="form-label">Knowledge Category:</label>
                    <input asp-for="KnowledgeCategory" placeholder="Enter Knowledge Category:" class="form-control" />
                    <span asp-validation-for="KnowledgeCategory" class="text-danger"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" asp-for="IsSwotItem" onchange="this.form.submit();" formnovalidate />
                    <label class="form-check-label" asp-for="IsSwotItem">Is this a SWOT Item?</label>
                </div>
                @{
                    if (Model.IsSwotItem)
                    {
                        <div class="mb-3">
                            <label asp-for="Strengths" class="form-label">Strengths:</label>
                            <input asp-for="Strengths" class="form-control" placeholder="Enter Strengths:" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Weakness" class="form-label">Weaknesses:</label>
                            <input asp-for="Weakness" class="form-control" placeholder="Enter Weaknesses:" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Opportunities" class="form-label">Opportunities:</label>
                            <input asp-for="Opportunities" class="form-control" placeholder="Enter Opportunities:" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Threats" class="form-label">Threats:</label>
                            <input asp-for="Threats" class="form-control" placeholder="Enter Threats:" />
                        </div>
                    }
                    else
                    {
                        <div class="mb-3">
                            <input asp-for="Strengths" type="hidden" class="form-control" value="0" />
                        </div>
                        <div class="mb-3">
                            <input asp-for="Weakness" type="hidden" class="form-control" value="0" />
                        </div>
                        <div class="mb-3">
                            <input asp-for="Opportunities" type="hidden" class="form-control" value="0" />
                        </div>
                        <div class="mb-3">
                            <input asp-for="Threats" type="hidden" class="form-control" value="0" />
                        </div>
                    }
                }

                <div class="mb-3">
                    <label asp-for="KnowledgeInformation" class="form-label">Knowledge Information:</label>
                    <textarea asp-for="KnowledgeInformation" placeholder="Enter Knowledge Information:" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="KnowledgeInformation" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button style="width: 30%" asp-page="CreateKnowledge" asp-page-handler="PopulateHandler" class="btn btn-outline-primary btn-lg" formnovalidate>Populate</button>
                    @{
                        if (Model.CreateorUpdate == "Update")
                        {
                            <button style="width: 33%" asp-page="CreateKnowledge" asp-page-handler="AddDB" class="btn btn-outline-success btn-lg">Update</button>
                        }
                        else
                        {
                            <button style="width: 33%" asp-page="CreateKnowledge" asp-page-handler="AddDB" class="btn btn-outline-success btn-lg">Create</button>
                        }
                    }
                        <button style="width: 30%" asp-page="CreateKnowledge" asp-page-handler="Cancel" class="btn btn-outline-danger btn-lg" formnovalidate>Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>